.DS_Store
.Rhistory
.Rproj.user/
__pycache__/
*.py[cod]
node_modules/

.env
.Renviron

*.log
slurmlogs/
tasks/*/code/run.sbatch
tasks/*/code/slurmlogs/

data_raw/*
!data_raw/README.md

tasks/*/input/
tasks/*/output/
tasks/*/temp/
tasks/audits/*/input/
tasks/audits/*/output/
tasks/audits/*/temp/
tasks/_deprecated/
tasks/archive/

paper/input/
paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.fdb_latexmk
paper/*.fls
paper/*.log
paper/*.out
paper/*.pdf
paper/*.synctex.gz

tmp/
Rplots.pdf
**/code/Rplots.pdf
